
          @*<div class="row filter-list">
            <div class="projects-block-one mix all col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/1.jpg")" alt="image">
                        <div class="overlay">
                            <a href="project-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </figure>
                    <div class="caption-title">
                        <h3><a href="project-single.html">Project Item Title</a></h3>
                    </div>
                </div>
            </div>
            <div class="projects-block-one mix all BRANDING col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/2.jpg")" alt="image">
                        <div class="overlay">
                            <a href="project-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </figure>
                    <div class="caption-title">
                        <h3><a href="project-single.html">Project Item Title</a></h3>
                    </div>
                </div>
            </div>
            <div class="projects-block-one mix all LOGO ILLUSTRATION col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/3.jpg")" alt="image">
                        <div class="overlay">
                            <a href="project-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </figure>
                    <div class="caption-title">
                        <h3><a href="project-single.html">Project Item Title</a></h3>
                    </div>
                </div>
            </div>
            <div class="projects-block-one mix all VIDEO col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/4.jpg")" alt="image">
                        <div class="overlay">
                            <a href="project-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </figure>
                    <div class="caption-title">
                        <h3><a href="project-single.html">Project Item Title</a></h3>
                    </div>
                </div>
            </div>
            <div class="projects-block-one mix all LOGO col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/5.jpg")" alt="image">
                        <div class="overlay">
                            <a href="project-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </figure>
                    <div class="caption-title">
                        <h3><a href="project-single.html">Project Item Title</a></h3>
                    </div>
                </div>
            </div>
            <div class="projects-block-one mix all BRANDING col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Site/images/project/6.jpg")" alt="image">
                        <div class="overlay">
                            <a href="project-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </figure>
                    <div class="caption-title">
                        <h3><a href="project-single.html">Project Item Title</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>*